<br>
<h1 class="text-center text-success">{{titulo}}</h1>
<hr>
<div class="container">
    <form #formtiposmotivos = "ngForm" (ngSubmit)="CrearTiposMotivos(); formtiposmotivos.reset();" class=""> 
      <h2 class="text-center text-muted">
        Ingresar Tipo de Motivo
      </h2>
      
      <div class="container col-xs-4 col-xs-offset-4">
      <label>Estado Motivo
        <span *ngIf="!descripcionmotivo.valid && descripcionmotivo.touched" class="label label-info" >Campo Requerido </span>
      </label>
      <input type="text" name="descripcionmotivo" class="form-control" #descripcionmotivo="ngModel" [(ngModel)]="tiposmotivosenviar.descripcionmotivo"  required maxlength="30" placeholder="Ingresa Descripcion">

  
      <hr>
      <input type="submit" value="Crear Nueva Motivo" class="btn btn-info col-xs-offset-4" [disabled]="!formtiposmotivos.form.valid" onclick="javascript:window.location.reload();">
      </div>

      
    </form>
</div>

<br>
<h3 class="text-info text-center">{{titulo}}</h3>
<div class="container col-xs-6 col-xs-offset-3">
  <table class="table table-hover table-responsive form-control-static ">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Motivo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let motivo of objecttiposmotivos">
      <th scope="row">{{motivo.idmotivo}}</th>
      <td>{{motivo.descripcionmotivo}}</td>
    </tr>
  </tbody>
</table>
</div>